In [19]:
import pandas as pd
import numpy as np

In [20]:
data = pd.read_csv('placement.csv')

data.head()

   cgpa  placement_exam_marks  placed
0  7.19                  26.0       1
1  7.46                  38.0       1
2  7.54                  40.0       1
3  6.42                   8.0       1
4  7.23                  17.0       0

In [21]:
numeric_cols = data.select_dtypes(include=[np.number])
non_numeric_cols = data.select_dtypes(exclude=[np.number])

numeric_cols.fillna(numeric_cols.mean(), inplace=True)   

data = pd.concat([numeric_cols, non_numeric_cols], axis=1)

missing_values = data.isnull().sum()
print(missing_values)

cgpa                    0
placement_exam_marks    0
placed                  0
dtype: int64

In [22]:
data = pd.read_csv('echocardiogram.csv')
data.isnull().sum()

data.shape

(133, 13)

In [23]:
data.dropna(inplace=True)

missing_values = data.isnull().sum()
print(missing_values)

survival                0
alive                   0
age                     0
pericardialeffusion     0
fractionalshortening    0
epss                    0
lvdd                    0
wallmotion-score        0
wallmotion-index        0
mult                    0
name                    0
group                   0
aliveat1                0
dtype: int64

In [24]:
data.shape

(61, 13)

In [17]:
data = pd.read_csv('echocardiogram.csv')
data.shape

(133, 13)

In [18]:
data.drop_duplicates(inplace=True)
data.shape

(133, 13)