In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = pd.read_csv('echocardiogram.csv')

numeric_cols = data.select_dtypes(include=[np.number])
non_numeric_cols = data.select_dtypes(exclude=[np.number])

In [3]:
scaler = MinMaxScaler()
scaled_numeric_data = scaler.fit_transform(numeric_cols)

In [4]:
scaled_numeric_df = pd.DataFrame(scaled_numeric_data, columns=numeric_cols.columns)

In [5]:
scaled_data = pd.concat([scaled_numeric_df, non_numeric_cols.reset_index(drop=True)], axis=1)

In [6]:
print(scaled_data.shape)
print()
print('*' * 60)
scaled_data.head()

(133, 13)

************************************************************

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,aliveat1,name,group
0,0.192557,0.0,0.705882,0.0,0.416667,0.22500,0.511211,0.324324,0.000,0.462366,0.0,name,1
1,0.332982,0.0,0.725490,0.0,0.616667,0.15000,0.399103,0.324324,0.350,0.240860,0.0,name,1
2,0.280323,0.0,0.392157,0.0,0.416667,0.10000,0.246637,0.324324,0.000,0.462366,0.0,name,1
3,1.000000,0.0,0.490196,0.0,0.405000,0.30155,0.511883,0.378378,0.225,0.348387,0.0,name,1
4,0.332982,1.0,0.431373,0.0,0.250000,0.55000,0.769058,0.432432,0.625,0.231720,0.0,name,1