In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [12]:
data = pd.read_csv('placement.csv')

In [13]:
numeric_cols = data.select_dtypes(include=[np.number])
non_numeric_cols = data.select_dtypes(exclude=[np.number])

In [14]:
scaler = StandardScaler()
scaled_numeric_data = scaler.fit_transform(numeric_cols)

In [15]:
scaled_numeric_df = pd.DataFrame(scaled_numeric_data, columns=numeric_cols.columns)

In [16]:
scaled_data = pd.concat([scaled_numeric_df, non_numeric_cols.reset_index(drop=True)], axis=1)

In [17]:
print(scaled_data.shape)
print()
print('*' * 60)
scaled_data.head()

(1000, 3)

************************************************************

       cgpa  placement_exam_marks    placed
0  0.371611             -0.325554  1.022247
1  0.810215              0.302020  1.022247
2  0.940171              0.406616  1.022247
3 -0.879222             -1.266915  1.022247
4  0.436589             -0.796234 -0.978237