In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load the dataset
data = pd.read_csv('echocardiogram.csv')
data.head(2)

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
0,11.0,0.0,71.0,0.0,0.26,9.0,4.6,14.0,1.0,1.000,name,1,0.0
1,19.0,0.0,72.0,0.0,0.38,6.0,4.1,14.0,1.7,0.588,name,1,0.0

In [2]:
data["name"].unique()

array(['name', nan], dtype=object)

In [3]:
data.group.unique()

array(['1', '2', 'name', nan], dtype=object)

In [4]:
data.aliveat1.unique()

array([ 0.,  1., nan,  2.])

In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load the dataset
data = pd.read_csv('echocardiogram.csv')

# Separate numeric and non-numeric columns
cat_features = [feature for feature in data.columns if data[feature].dtype == 'O']

# Convert categorical columns using pd.get_dummies
data1 = pd.get_dummies(cat_features)
data1

   group   name
0  False   True
1   True  False

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   group   2 non-null      bool
 1   name    2 non-null      bool
dtypes: bool(2)
memory usage: 136.0 bytes

In [7]:
cat_features

['name', 'group']

In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load the dataset
data = pd.read_csv('echocardiogram.csv')

# Separate numeric and non-numeric columns
cat_features = [feature for feature in data.columns if data[feature].dtype == 'O']

# Convert categorical columns using pd.get_dummies
data1 = pd.get_dummies(data, columns=cat_features)

# Combine the scaled numeric columns with the non-numeric columns (if any)
scaled_data = pd.concat([data, data1], axis=1)

# Check the shape of the scaled data
print(scaled_data.shape)
print()
print('*' * 70)

scaled_data.head()

(133, 28)

**********************************************************************

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,...,epss,lvdd,wallmotion-score,wallmotion-index,mult,aliveat1,name_name,group_1,group_2,group_name
0,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.00,1.000,...,9.000,4.600,14.0,1.00,1.000,0.0,True,True,False,False
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.70,0.588,...,6.000,4.100,14.0,1.70,0.588,0.0,True,True,False,False
2,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.00,1.000,...,4.000,3.420,14.0,1.00,1.000,0.0,True,True,False,False
3,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.45,0.788,...,12.062,4.603,16.0,1.45,0.788,0.0,True,True,False,False
4,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.25,0.571,...,22.000,5.750,18.0,2.25,0.571,0.0,True,True,False,False

In [9]:
data.columns

Index(['survival', 'alive', 'age', 'pericardialeffusion',
       'fractionalshortening', 'epss', 'lvdd', 'wallmotion-score',
       'wallmotion-index', 'mult', 'name', 'group', 'aliveat1'],
      dtype='object')

In [10]:
scaled_data.columns

Index(['survival', 'alive', 'age', 'pericardialeffusion',
       'fractionalshortening', 'epss', 'lvdd', 'wallmotion-score',
       'wallmotion-index', 'mult', 'name', 'group', 'aliveat1', 'survival',
       'alive', 'age', 'pericardialeffusion', 'fractionalshortening', 'epss',
       'lvdd', 'wallmotion-score', 'wallmotion-index', 'mult', 'aliveat1',
       'name_name', 'group_1', 'group_2', 'group_name'],
      dtype='object')

In [11]:
data1.head()

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,aliveat1,name_name,group_1,group_2,group_name
0,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.00,1.000,0.0,True,True,False,False
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.70,0.588,0.0,True,True,False,False
2,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.00,1.000,0.0,True,True,False,False
3,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.45,0.788,0.0,True,True,False,False
4,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.25,0.571,0.0,True,True,False,False