In [ ]:
data = pd.read_csv('echocardiogram.csv')

data.head()

,survival,alive,age,pericardialeffusion,fractionalshortening,epss,lvdd,wallmotion-score,wallmotion-index,mult,name,group,aliveat1
0,11.0,0.0,71.0,0.0,0.260,9.000,4.600,14.0,1.00,1.000,name,1,0.0
1,19.0,0.0,72.0,0.0,0.380,6.000,4.100,14.0,1.70,0.588,name,1,0.0
2,16.0,0.0,55.0,0.0,0.260,4.000,3.420,14.0,1.00,1.000,name,1,0.0
3,57.0,0.0,60.0,0.0,0.253,12.062,4.603,16.0,1.45,0.788,name,1,0.0
4,19.0,1.0,57.0,0.0,0.160,22.000,5.750,18.0,2.25,0.571,name,1,0.0

In [ ]:
#Handling Missing Values
# Imputation: Filling missing values with mean.

import pandas as pd
import numpy as np

# Separate numeric and non-numeric columns
numeric_cols = data.select_dtypes(include=[np.number])
non_numeric_cols = data.select_dtypes(exclude=[np.number])

# Fill missing values in numeric columns with the mean
numeric_cols.fillna(numeric_cols.mean(), inplace=True)   # Numerical features
#non_numeric_cols.fillna(non_numeric_cols.mode(), inplace=True) # Categorical features


# Combine back with non-numeric columns
data = pd.concat([numeric_cols, non_numeric_cols], axis=1)

# Check for any remaining missing values
missing_values = data.isnull().sum()
print(missing_values)

survival                 0
alive                    0
age                      0
pericardialeffusion      0
fractionalshortening     0
epss                     0
lvdd                     0
wallmotion-score         0
wallmotion-index         0
mult                     0
aliveat1                 0
name                     2
group                   23
dtype: int64

In [6]:
#Removal: Deleting rows with missing values.

data = pd.read_csv('echocardiogram.csv')
data.isnull().sum()

data.shape

(133, 13)

In [7]:
# Drop rows with any missing values
data.dropna(inplace=True)

# Check for any remaining missing values
missing_values = data.isnull().sum()
print(missing_values)

survival                0
alive                   0
age                     0
pericardialeffusion     0
fractionalshortening    0
epss                    0
lvdd                    0
wallmotion-score        0
wallmotion-index        0
mult                    0
name                    0
group                   0
aliveat1                0
dtype: int64

In [8]:
data.shape

(61, 13)

In [9]:
data = pd.read_csv('echocardiogram.csv')
data.shape

(133, 13)

In [10]:
data.drop_duplicates(inplace=True)
data.shape

(133, 13)